<a href="https://colab.research.google.com/github/tareing/20240202test/blob/master/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
stu = pd.read_excel('/content/students.xlsx')

In [ ]:
# 아래 문제를 해결해주세요.


# 1. 국어가 80점 이상인 학생의 이름과 생년월일
data = {'이름': ['학생1', '학생2', '학생3'],
        '국어': [75, 85, 90],
        '생년월일': ['20000101', '19991231', '20000505']}
df = pd.DataFrame(data)
filtered_df = df[df['국어'] >= 80]
print(filtered_df[['이름', '생년월일']])

# 2. 수학이 80점 미만인 학생의 영어와 국어 점수
data = {'이름': ['학생1', '학생2', '학생3'],
        '국어': [75, 85, 90],
        '수학': [78, 75, 60],
        '영어': [90, 88, 85],
        '생년월일': ['20000101', '19991231', '20000505']}
df = pd.DataFrame(data)
filtered_df = df[df['수학'] < 80]

result_df = filtered_df[['이름', '영어', '국어']]

print(result_df)

# 3. 국어와 수학이 90점 이상인 학생의 이름, 수학, 국어 점수
data = {'이름': ['학생1', '학생2', '학생3'],
        '국어': [95, 85, 90],
        '수학': [92, 95, 88],
        '영어': [90, 88, 85],
        '생년월일': ['20000101', '19991231', '20000505']}
df = pd.DataFrame(data)


filtered_df = df[(df['국어'] >= 90) & (df['수학'] >= 90)]
result_df = filtered_df[['이름', '수학', '국어']]

print(result_df)

# 4. 모든 과목이 60점 미만인 학생의 번호, 이름, 생년월일
data = {'번호': [1, 2, 3],
        '이름': ['학생1', '학생2', '학생3'],
        '국어': [58, 55, 59],
        '수학': [45, 58, 30],
        '영어': [50, 40, 55],
        '생년월일': ['20000101', '19991231', '20000505']}
df = pd.DataFrame(data)

filtered_df = df[(df['국어'] < 60) & (df['수학'] < 60) & (df['영어'] < 60)]
result_df = filtered_df[['번호', '이름', '생년월일']]

print(result_df)

# 5. 대전 지역 학생들의 이름, 국어, 영어, 수학 점수
data = {'이름': ['학생1', '학생2', '학생3', '학생4'],
        '지역': ['서울', '대전', '대전', '서울'],
        '국어': [80, 85, 90, 78],
        '수학': [75, 88, 92, 80],
        '영어': [90, 88, 85, 92],
        '생년월일': ['20000101', '19991231', '20000505', '20000215']}
df = pd.DataFrame(data)

daejeon_students = df[df['지역'] == '대전']
result_df = daejeon_students[['이름', '국어', '영어', '수학']]

print(result_df)

    이름      생년월일
1  학생2  19991231
2  학생3  20000505
    이름  영어  국어
0  학생1  90  75
1  학생2  88  85
2  학생3  85  90
    이름  수학  국어
0  학생1  92  95
   번호   이름      생년월일
0   1  학생1  20000101
1   2  학생2  19991231
2   3  학생3  20000505
    이름  국어  영어  수학
1  학생2  85  88  88
2  학생3  90  85  92

In [ ]:
# 아래 문제를 해결해주세요.


# 1. 학생들의 총점, 평균 구하기
data = {'이름': ['학생1', '학생2', '학생3'],
        '국어': [80, 85, 90],
        '수학': [75, 88, 92],
        '영어': [90, 88, 85],
        '생년월일': ['20000101', '19991231', '20000505']}
df = pd.DataFrame(data)

df['총점'] = df[['국어', '수학', '영어']].sum(axis=1)
df['평균'] = df[['국어', '수학', '영어']].mean(axis=1)

print(df[['이름', '총점', '평균']])

# 2. 학생들의 평균이 높은 순으로 정렬. 만약 평균이 같다면 학번으로 오름차순
data = {'학번': [1, 2, 3],
        '이름': ['학생1', '학생2', '학생3'],
        '국어': [80, 85, 90],
        '수학': [75, 88, 92],
        '영어': [90, 88, 85],
        '생년월일': ['20000101', '19991231', '20000505']}
df = pd.DataFrame(data)

df['평균'] = df[['국어', '수학', '영어']].mean(axis=1)
sorted_df = df.sort_values(by=['평균', '학번'], ascending=[False, True])

print(sorted_df[['학번', '이름', '평균']])

    이름   총점         평균
0  학생1  245  81.666667
1  학생2  261  87.000000
2  학생3  267  89.000000
   학번   이름         평균
2   3  학생3  89.000000
1   2  학생2  87.000000
0   1  학생1  81.666667